{% extends "base.html" %}
{% load static %}
{% block content %}

    <form method="POST" class="container text-center my-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="d-flex flex-column mb-3">
                <label class="text-dark form-label fw-bold fs-4"><span class="text-danger">*</span> {{field.html_name}} <span class="text-danger">*</span></label>
                {% if field.html_name == 'password' %}
                    <input class="form-control" id="{{field.id_for_label}}" name="{{field.html_name}}" type="password">
                {% else %}
                    <input class="form-control" id="{{field.id_for_label}}" name="{{field.html_name}}"  />
                {% endif %}
            </div>
        {% endfor %}
        <span>{{form.errors}}</span>
        <button type="submit" class="btn btn-outline-primary fw-bold fs-5 m-3 px-5 rounded-5">Login</button>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </form>
{% endblock content %}



<!-- TO BE CONTINUED................ -->

