{% extends "base.html" %}
{% load static %}
{% block content %}

    <form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="container my-5">
			<div class="row mb-4">
        		<div class="col-lg-6">
					<label class="form-label fs-4 fw-bold">NAME <span style="color: red;">*</span></label>
					{{event_form.name}}
				</div>
	        	<div class="col-lg-6">
					<label class="form-label fs-4 fw-bold">LOCATION <span style="color: red;">*</span></label>
					{{event_form.location}}
				</div>
			</div>
			<div class="row mb-4">
        		<div class="col-lg-6">
					<label class="form-label fs-4 fw-bold">INSERT IMAGE <span style="color: red;">*</span></label>
					{{event_form.image}}
				</div>
				<div class="col-lg-6">
					<label class="form-label fs-4 fw-bold">TIME-OF-ATTENDANCE <span style="color: red;">*</span></label>
					{{event_form.time_of_attendance}}
				</div>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-primary fs-5 px-5 rounded-5">Send</button>
			</div>
		</div>
    </form>

{% endblock content %}



